<% if logged_in? %>
<div class="popup">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <a href="#" class="close2"><i class="fa fa-times fa-size"></i></a>
        <%= form_for(@comment, html: { class: "col-xs-12 popupform"}) do |c| %>

          <div class="form-group popup-group">
            <%= c.text_field :body, class: "form-control popup-control", placeholder: "Enter comment" %>
          </div>
            <%= c.submit "Post", class: "popup-button" %>
      </div>

      <% end %>
    </div>
  </div>
</div>
<% end %>
