
<div class="container">
  <div class="row">
    all comments
    <a href="#" class="btn btn-success" id="showpopup">Make a comment</a>
    <ul class="blo">
      <% @comments.each do |comment| %>
        <li class="block">
          <div class="blockit">

            <small class="label label-default"><%= comment.user.username %></small>
            <hr>
            <%= comment.body %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
