// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.alert{
  margin: 10px 100px;
  .close {
    float: right;
  }
}

.block{
  display: inline-block;
  padding: 5px;
  .blockit {
  display: block;
  border: 1px solid #eaeaea;
  padding: 20px;
  width: 100%;
  }
}
