// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.alert{
  margin: 10px 100px;
  .close {
    float: right;
  }
}
.blo{
  border: 1px solid #eaeaea;
}
.block{
  margin: 0px;

  display: inline-block;
  padding: 5px;

  .blockit {
  position: relative;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  padding: 20px;
  }
}

.header {
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 0px;

  color: white;
  text-decoration: none;
  background-color: skyblue;
}
.user{

  background-color: #108ccc;

}
.useractions {
  z-index: 20;
  width: 250px;
  bottom: -40px;
  border-radius: 10px;
  margin: 0px 0px;
  background-color: white;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  display: none;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 5px #eaeaea;
}
.useract {
  visibility: hidden;
  display: block;
  padding: 10px;
}
.visible {
  border-top: 1px solid #eaeaea;
  visibility: visible;
}
.userinfo {
  display: block;
  padding: 10px;
}
small {
  margin: 10px;
}
.no-under:hover {
  text-decoration: none;
}
