// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.usersc {

}

.alert{
  margin: 10px 100px;
  .close {
    float: right;
  }
}
.blo{
  // border: 1px solid #eaeaea;
}
.block{
  margin: 0px;

  display: inline-block;
  padding: 10px;

  .blockit {
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );


  }
}

.header {
  padding: 30px 10px;
  border-top: 8px solid rgba(26, 98, 143, .7);
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  margin: 0px;

  color: white;
  text-decoration: none;
  background-color: skyblue;
  // GRADIENT BACKGROUND
  background: rgb(109,179,242);
  background: -moz-linear-gradient(-45deg,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 37%, rgba(84,163,238,1) 37%, rgba(84,163,238,1) 54%, rgba(31,163,224,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 37%,rgba(84,163,238,1) 37%,rgba(84,163,238,1) 54%,rgba(31,163,224,1) 100%);
  background: linear-gradient(135deg,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 37%,rgba(84,163,238,1) 37%,rgba(84,163,238,1) 54%,rgba(31,163,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1fa3e0',GradientType=1 );

}
.user{

  background: rgb(249,198,103);
background: -moz-linear-gradient(-45deg,  rgba(249,198,103,1) 0%, rgba(249,198,103,1) 37%, rgba(247,150,33,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(249,198,103,1) 0%,rgba(249,198,103,1) 37%,rgba(247,150,33,1) 100%);
background: linear-gradient(135deg,  rgba(249,198,103,1) 0%,rgba(249,198,103,1) 37%,rgba(247,150,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 );

}
.useractions {
  z-index: 20;
  width: 250px;
  bottom: -42px;
  border-radius: 10px;
  margin: 0px 0px;
  background-color: white;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  display: none;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 5px #eaeaea;
}
.useract {
  visibility: hidden;
  display: block;
  padding: 10px;
}
.visible {
  border-top: 1px solid #eaeaea;
  visibility: visible;
}
.userinfo {
  display: block;
  padding: 10px;
}
small {
  margin: 10px;
}
.no-under:hover {
  text-decoration: none;
}

.left {
  float: left;
}
.right {
  float: right;
}
li{
  display: block;
}
