.welc {
  height: 400px;
}

.welul{
  margin: 0px;
  padding: 0px;
}
.welli {
  border-top: 5px solid #eaeaea;
  border-right: 5px solid #eaeaea;
  border-left: 5px solid #eaeaea;
  border-bottom: 5px solid #eaeaea;
  text-align: center;
  color: darkgray;
  margin: 20px;
  display: block;
  padding: 20px;
}
